@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
  font-family: Open-Sans;
  src: url('/fontes/idroid.otf');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  background-color: #64e66b;
}

a{
  text-decoration: none;
}

header{
  background: linear-gradient(#69c76e, #166939);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 12rem;
}

header h1, h2{
  color: #fff;
}

header h2{
  margin-top: 1rem;
}

header h1{
  font-size: 3rem;
}

header h2{
  font-weight: lighter;
}

header ul{
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: 3rem;
}

header ul li{
  list-style-type: none;
  color: #fff;
}

main{
  background-color: #fff;
  margin: 0 15rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

.history-title h1{
  padding: 1.5rem;
}

.history-title h1,
.first-version h2,
.mascote h2{
  color: #166939;
  font-family: Open-Sans;
}

.first-version h2,
.mascote h2{
  background: linear-gradient(to right, rgb(149, 235, 149), rgba(255, 255, 255, 0.705));
  color: #166939; 
  padding: .3rem;
}

.history{
  padding: 1.5rem;
}

section{
  margin: 0 1rem;
  padding: .5rem;
}

section p {
  padding: .8rem;
}

.lists{
  display: flex;
  padding: 1rem;
  gap: 10rem;
}

ul li{
  list-style-type: none;
}

ul li a span{
  color: black;
  text-decoration:underline;
}

ul li a{
  color: black;
}

.img-container{
  text-align: center;
}

.dan-droids-img,
.irina-blok-img{
  width: 100%;
}

.img-container-irina-blok{
  background-image:url('/imagens/irina-blok.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 11rem;
  width: 100vw;
}

.video-container{
  background-color: #2d5830;
  text-align: center;
  padding: 1rem;
}

.video-container iframe{
  width: 95%;
  height: 25rem;
}

.learn-more div{
  background-color: #b2fab6;
  border-radius: 1rem;
}

h3{
  background-color: #429e49;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #fff;
  padding: .4rem;
}

p a{
  color: #134b17;
  font-weight: bolder;
}

footer{
  background-color: #2d5830;
  text-align: center;
}

footer p{
  color: #fff;
  padding: .5rem;
}

@media(max-width: 1024px){
  header{
    height: 12rem;
  }

  main{
    margin: 0 7rem;
    margin-bottom: 1rem;
  }

  .dan-droids-img{
    width: 30rem;
  }

  .video-container{
    padding: 1rem;
  }
} 

@media(max-width: 840px){
  header{
    height: 10rem;
  }

  nav ul li{
    font-size: .8rem;
  }

  main{
    margin: 0 4rem;
  }

  .title-container h1{
    font-size: 2rem;
  }

  .header-text h2{
    font-size: 1rem;
  }

  .history-title h1,
  .first-version h2,
  .mascote h2{
    font-size: 1rem;
  }

  .history-title h1{
    padding: .5rem;
  }
  

  section p{
    padding: .2rem;
    font-size: .9rem;
  }

  .bugdroid-img{
    width: 10rem;   
  }

  .learn-more p{
    font-size: .8rem;
  }

  .learn-more h3{
    font-size: 1rem;
  }

  .lists{
    gap: 5rem;
  }

  .list i, span{
    font-size: .8rem;
  }

  .video-container{
    padding: 1rem;
  }

  .video-container iframe{
    width: 90%;
    height: 18rem;
  }
  
  footer{
    margin-top: 1rem;
  }

  footer p{
    padding: .3rem;
    font-size: .8rem;
  }
}

@media(max-width: 600px){
  header{
    height: 8rem;
  }

  header ul{
    margin-top: 1.5rem;
  }

  nav ul li{
    font-size: .8rem;
  }

  .title-container h1{
    font-size: 1.5rem;
  }

  .header-text h2{
    font-size: .8rem;
  }

  main{
    margin: 0 2rem;
  }

  .history-title h1,
  .first-version h2,
  .mascote h2{
    font-size: .8rem;
  }

  .history p{
    font-size: .8rem;
  }

  section p{
    padding: .3rem;
    font-size: .8rem;
  }

  .dan-droids-img{
    width: 15rem;
  }

  .bugdroid-img{
    width: 8rem;   
  }

  .learn-more h3{
    font-size: 1rem;
  }

  .learn-more p{
    font-size: .9rem;
  }

  .lists{
    gap: 1rem;
  }

  .list i, span{
    font-size: .8rem;
  }

  .video-container{
    padding: .6rem;
  }

  .video-container iframe{
    height: 14rem;
  }
}

@media(max-width: 320px){
  section{
    margin: 0;
  }
  
  .dan-droids-img{
    width: 10rem;   
  }
}